* {
  box-sizing: border-box;
}

body {
  color: #eee;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.bg-image {
  background: url(modern-architecture-3867428_960_720.jpg)
    no-repeat center/cover;
  height: 100vh;
  width: 100%;
  filter: blur(1px) contrast(90%);
}

h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(0, 0, 0, 0.15);
  padding: 2rem 3rem;
}

/* rain fall */
.fa-tint {
  color: rgb(160, 160, 160);
  position: absolute;
  top: -20%;
  animation: fall linear forwards;
}
@keyframes fall {
  to {
    transform: translateY(120vh);
  }
}
